---
	export interface Props {
        post: any;
    }
    const { post } = Astro.props as Props;
    const slug = 'posts/'+post.slug;
---
<div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 gap-2">
	<img class="w-full" src={post.featuredImage} alt={post.title} />
	<div class="p-6 ">
		<a href={slug}>
			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{post.title}</h5>
		</a>
		<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{post.description}</p>
		<div class="flex justify-between items-center">
			<div class="flex justify-between items-center gap-2">
				<div class="rounded-full w-7 h-7 overflow-hidden">
					<img src={post.author.picture} class="w-fit h-fit" alt="" />
				</div>
				<p>{post.author.name}</p>
			</div>
			<a href={slug} class="cursor-pointer inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
				Read more &nbsp;&rarr;
			</a>
		</div>
	</div>
</div>
